---
import mainInfo from '../data/main-info.json';
import gallery from '../data/gallery.json';
import hours from '../data/hours.json';
import socials from '../data/socials.json';

import Layout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Tagline from '../components/Tagline.astro';
import Section from '../components/Section.astro';
import Button from '../components/Button.astro';
import Footer from '../components/Footer.astro';

const sections = await Astro.glob('../data/sections/*.md');
const links = await Astro.glob('../data/footer-links/*.md')
---

<Layout title="Off Center">
	<Header
		name={mainInfo.name}
		subName={mainInfo.subName}
		hours={hours}
		socials={socials}
		logo={mainInfo.logo}
		address={mainInfo.address}
	/>

	<Hero gallery={gallery} orderLink={mainInfo.orderLink} phone={mainInfo.phone}
	/>

	<main>
		<Tagline tagline={mainInfo.tagline} taglineEm={mainInfo.taglineEm} />

		<section>
			{
				sections.map(({ Content, frontmatter }) => (
					<Section>
						<h2 slot="title">{frontmatter.title}</h2>
						<img
							slot="image"
							src={frontmatter.thumbnail}
							alt={frontmatter.alt}
						/>
						<Content />
					</Section>
				))
			}
			<h3>Feeling hungry?</h3>
			<Button link={mainInfo.orderLink}>Order now!</Button>
		</section>

		<Footer hours={hours} address={mainInfo.address} email={mainInfo.email} links={links}/>
	</main>
</Layout>
