---
import mainInfo from '../data/main-info.json';
import hours from '../data/hours.json';
import socials from '../data/socials.json';

import Layout from '../layouts/BaseLayout.astro';
import Header from '../components/landing/Header.astro';
import Tagline from '../components/Tagline.astro';
import Button from '../components/Button.astro';
import {
	default as Hero,
	type Props as HeroProps,
} from '../components/landing/Hero.astro';
import {
	default as Footer,
	type Props as FooterProps,
} from '../components/footer/Footer.astro';
import {
	default as Sections,
	type Props as SectionsProps,
} from '../components/sections/Sections.astro';

const sections = (await Astro.glob(
	'../data/sections/*.md'
)) as SectionsProps['sections'];
const links = (await Astro.glob(
	'../data/footer-links/*.md'
)) as FooterProps['links'];
const gallery = (await Astro.glob(
	'../data/gallery/*.json'
)) as HeroProps['gallery'];
---

<Layout title={mainInfo.title} description={mainInfo.description}>
	<div class="header-hero">
		<Header
			name={mainInfo.name}
			subName={mainInfo.subName}
			hours={hours}
			socials={socials}
			logo={mainInfo.logo}
			address={mainInfo.address}
		/>
		<Hero
			gallery={gallery}
			orderLink={mainInfo.orderLink}
			phone={mainInfo.phone}
		/>
	</div>

	<main>
		<Tagline tagline={mainInfo.tagline} />

		<Sections sections={sections}>
			<h2>Feeling hungry?</h2>
			<div class="button">
				<Button link={mainInfo.orderLink}>Order now!</Button>
			</div>
		</Sections>

		<Footer
			hours={hours}
			address={mainInfo.address}
			email={mainInfo.email}
			phone={mainInfo.phone}
			links={links}
		/>
	</main>
</Layout>

<style>
	.header-hero {
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		height: 100svh;
	}

	h2,
	.button {
		text-align: center;
	}

	.button {
		font-size: var(--h-button-font);
	}
</style>
