---
type Address = typeof import('../data/main-info.json')['address'];

export interface Props {
	address: Address;
}

const {
	address: { address1, address2, city, state, zip },
} = Astro.props as Props;
---

<address>
	<span class="addr1">{address1}</span>
	<span class="addr2">{address2}</span>
	<span class="cityStateZip">
		{city}{city && state ? ',' : ''}
		{state}&nbsp;
		<span class="zip">{zip}</span>
	</span>
</address>

<style>
	
	address {
		font-style: normal;
		white-space: nowrap;
	}
	
	.cityStateZip {
		display: flex;
		flex-flow: column;
	}
	
	@media screen and (min-aspect-ratio: 16 / 11) and (min-width: 768px) {

		.cityStateZip {
			flex-flow: row wrap;
		}

	}

</style>