---
import Address from './Address.astro';
import type { Props as AddressProps } from './Address.astro';
import type { MarkdownInstance } from 'astro';
type Hours = typeof import('../data/hours.json');

export interface Props {
	hours: Hours;
	email: string;

	address: AddressProps['address'];
	links: MarkdownInstance<Record<string, any>>[];
}

const { hours, email, address, links } = Astro.props as Props;
---

<footer>
	<h2>Hours</h2>
	<p>{hours}</p>

	<h2>Contact Us</h2>
	<p><a href={`mailto:${email}`}>{email}</a></p>
	<Address address={address} />

	<h2>Links</h2>
	<ul>
		{
			links.map((link) => (
				<li>
					<button>{link.frontmatter.title}</button>
				</li>
			))
		}
	</ul>
</footer>
